{% extends 'base.html.twig' %}

{% block title %}Une Première connexion bien Fresh !{% endblock %}

{% block body %}
<div class="text-center">

    <h1 class="font-bold text-3xl mb-5">Création de compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <a class="link" href="#">Voir les conditions</a><br>

    <button type="submit" class="btn btn-lg btn-primary mt-5 mb-5">ENTRONS !</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
