{% extends 'base.html.twig' %}

{% block title %}Fresh ! Nouvel aliment dans le frigo {{ refrigerator.name }}{% endblock %}

{% block body %}
    {% set label = "Ajouter" %}
    {% if foodsCanBe is defined %}
        {% set label = "Continuer d'ajouter" %}
        {% for food in foodsCanBe %}
            <div>
                <p>{{ food.name }}</p>
                <button><a href="#">Regrouper</a></button>
            </div>
        {% endfor %}
    {% endif %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.quantity) }}
    {{ form_row(form.expireDate) }}
    {{ form_row(form.submit, {'label': label}) }}
    {% if label != "Ajouter" %}
        <input hidden value="true" name="food_add_force">
    {% else %}
        <input hidden value="false" name="food_add_force">
    {% endif %}
    {{ form_end(form) }}
    <button><a href="{{ path('app_refrigerator',{'number':number}) }}">Retour</a></button>
{% endblock %}
