{% extends 'base.html.twig' %}

{% block title %}Fresh ! Modifier un aliment dans le frigo {{ refrigerator.name }}{% endblock %}

{% block body %}
    {% set label = "Modifier" %}
    {% if foodsCanBe is defined %}
        {% set label = "Continuer de modifier" %}
    {% endif %}

    <div class="text-center">
        <h1 class="font-bold text-3xl">{{ user.firstname }},</h1>
        {% if foodsCanBe is defined %}
            <h3 class="text-xl">L'aliment {{ legacyFood.name }} peut être regrouper !</h3>
        {% else %}
            <h3 class="text-xl">Remplissez le formulaire pour modifier l'aliment dans {{ refrigerator.name }} !</h3>
        {% endif %}
        <div class="mt-10">
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.expireDate) }}
            {{ form_row(form.submit, {'label': label}) }}
            <input hidden value="{{ csrf_token('_valid_modify_token_value') }}" name="_valid_modify_{{ legacyFood.id }}_token">
            {{ form_end(form) }}
            {% if foodsCanBe is defined %}
                <h3 class="mt-6 font-bold text-2xl">Ou regrouper</h3>
                <div class="mt-4 flex justify-center w-full">
                    <div class="bg-gray-200 rounded-2xl p-4 w-11/12">
                        {% for food in foodsCanBe %}
                            <div class="mt-4">
                                <div class="flex justify-center">
                                    <p>{{ food.name }} <a href="?force_regroup=true&foodId={{ food.id }}&withQuantity={{ food.quantity + legacyFood.quantity }}" class="btn btn-info text-white"><button>REGROUPER</button></a></p>
                                </div>
                                <p>Ce qui ferait {{ food.quantity + legacyFood.quantity }} {{ food.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="flex justify-center mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                    </svg>
                    <p class="mt-2 bg-pink-500 text-white rounded-2xl p-2 w-11/12">À savoir que le regroupement est possible lorsque l'aliment que vous essayez de modifier a presque le même nom d'aliment déjà existant et qu'ils ont la même date de péremption.</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="text-center flex justify-center mt-10">
        <a href="{{ path('app_refrigerator',{'number':number}) }}"><button class="btn btn-info text-white"><< RETOUR</button></a>
    </div>
{% endblock %}