{% extends 'base.html.twig' %}

{% block title %}Fresh !{% endblock %}

{% block body %}
    <div class="text-center">

        <h1 class="font-bold text-3xl mb-5">{{ user.firstName }} voici vos informations</h1>

        {% if user.verified %}
            <div class="flex justify-center m-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                </svg>
                <p class="mt-2 bg-pink-500 text-white rounded-2xl p-2 w-5/12">Votre compte est vérifié !</p>
            </div>
        {% else %}
            <div class="flex justify-center m-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
                <p class="mt-2 bg-error text-white rounded-2xl p-2 w-5/12">Votre compte n'est pas vérifié ! <a href="{{ path('app_resend_registration_confirmation_email') }}" class="btn btn-primary border-success text-white"><button>RENVOYER UN MAIL DE VÉRIFICATION</button></a></p>
            </div>
        {% endif %}
        {{ form_errors(formUser) }}

        {% if modify is defined %}

        {{ form_start(formUser) }}
        {{ form_row(formUser.email) }}
        {{ form_row(formUser.firstname) }}
        {{ form_row(formUser.name) }}
        {{ form_row(formUser.plainPassword) }}
            <p>Vous avez accepté les conditions d'utilisations. <a class="link" href="#">Voir les conditions</a></p><br>

        <button type="submit" class="btn btn-lg btn-primary mt-5 mb-5 text-white">ENREGISTRER</button>
        {{ form_end(formUser) }}
        {% else %}
            {{ form_start(formUser) }}
            {{ form_row(formUser.email,{'attr':{'disabled':'true'}}) }}
            {{ form_row(formUser.firstname,{'attr':{'disabled':'true'}}) }}
            {{ form_row(formUser.name,{'attr':{'disabled':'true'}}) }}
            {{ form_row(formUser.plainPassword,{'attr':{'disabled':'true'}}) }}
            <p>Vous avez accepté les conditions d'utilisations. <a class="link" href="#">Voir les conditions</a></p><br>
            <input hidden name="modify" value="true">
            <button type="submit" class="btn btn-lg btn-warning text-white mt-5 mb-5">MODIFIER</button>
            {{ form_end(formUser) }}

        {% endif %}
        {{ form_end(formUser) }}

        <a href="#" class="btn btn-error text-white" onclick="coming_soon.showModal();">SUPPRIMER DÉFINITIVEMENT MON COMPTE</a><br>
        <a href="{{ path('app_main') }}" class="btn btn-info text-white mt-5"><button><< RETOUR</button></a>

        <dialog id="coming_soon" class="modal">
            <div class="modal-box bg-white">
                <h3 class="font-bold text-xl">{{ user.firstname }}, cette action est bientôt disponible...</b></h3>
                <div class="flex justify-center mt-2">
                    <a href="{{ path('app_fresh_account') }}" class="btn btn-info text-white text-center">FERMER</a>
                </div>
            </div>
        </dialog>
    </div>
{% endblock %}
