{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user.verified == false %}
        <div class="alert alert-warning font-bold text-white text-center flex justify-center rounded-none">
            <p>Vous devez activer votre compte en cliquant sur le lien envoyé par mail ! (no-reply@fresh.app)</p>
            <a href="{{ path('app_resend_registration_confirmation_email') }}" class="btn btn-primary border-success text-white">Cliquez pour renvoyer un lien
                d'activation</a>
        </div>
    {% else %}
        <div class="text-center">
            <h1 class="font-bold text-3xl">Bonjour {{ user.firstname }},</h1>
            <script>
                function closeAlert(){
                    for (let e in document.getElementsByClassName('freshalert')) {
                        document.getElementsByClassName('freshalert').item(e).hidden=true;
                    }
                    document.getElementById("btn-show-alert").classList.remove("hidden");
                    document.getElementById("btn-show-alert").classList.add("flex");
                    document.getElementById("btn-hide-alert").classList.remove("flex");
                    document.getElementById("btn-hide-alert").classList.add("hidden");
                }
                function openAlert(){
                    for (let e in document.getElementsByClassName('freshalert')) {
                        document.getElementsByClassName('freshalert').item(e).hidden=false;
                    }
                    document.getElementById("btn-show-alert").classList.remove("flex");
                    document.getElementById("btn-show-alert").classList.add("hidden");
                    document.getElementById("btn-hide-alert").classList.remove("hidden");
                    document.getElementById("btn-hide-alert").classList.add("flex");
                }
            </script>
            {% if alerts|length > 0 %}
                {% set legacyAlertString = "alerte" %}
                {% if alerts|length > 1 %}
                    {% set legacyAlertString = "alertes" %}
                {% endif %}
                <p>Vous avez {{ alerts|length ~ " " ~ legacyAlertString }} !</p>
                <div class="flex justify-center text-center">
                    <button class="bg-pink-500 rounded text-white p-2 font-bold justify-around text-center" onclick="closeAlert()" id="btn-hide-alert">CACHER LES ALERTES<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                            <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                        </svg></button>
                    <button class="bg-pink-500 rounded text-white p-2 font-bold justify-around text-center hidden" onclick="openAlert()" id="btn-show-alert">MONTRER LES ALERTES <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                        </svg></button>
                </div>
                    <div class="space h-2"></div>
                {% set i = 0 %}
                {# ... #}
                {% for alert in alerts %}
                    <div id="alert-{{ i }}" class="freshalert text-white px-6 py-4 border-0 rounded relative mb-2 bg-pink-500">
                        <span class="inline-block align-middle mr-8">
                            <b class="capitalize">{{ alert.food.name }}</b> se trouvant dans <b class="capitalize">{{ alert.refrigerator.name }}</b><br>
                            <b class="capitalize">Quantité : {{ alert.food.quantity }}</b><br>
                            {{ alert.message }}
                        </span>
                    </div>
                    <script>
                        setTimeout(function(){
                            closeAlert();
                        },10000);
                    </script>
                    {% set i = i+1 %}
                {% endfor %}
                {# ... #}
            {% else %}
                <p>Aucune alerte, c'est bon signe !</p>
            {% endif %}
        </div>
        <div class="space h-20"></div>
        <h2 class="text-center bold text-2xl">Vos frigos</h2>
        <div class="space h-5"></div>
        {% if user.refrigerators|length == 0 %}
            <div class="text-center">
                <p>Vous n'avez pas de frigo, donc pas d'aliments !</p>
            </div>
        {% endif %}
        <div class="text-center flex justify-around p-4" style="background-image: url('{{ asset('img/IMG_2619.jpg') }}');background-size: cover;">
            {% if user.refrigerators|length < 3 %}
                {% set number = 0 %}
                {% for refrigerator in user.refrigerators %}
                    {% set number=number+1 %}
                    <div>
                        <a href="{{ path('app_refrigerator',{'number':number}) }}" class="text-center font-bold capitalize" style="opacity: 0.99;">
                            <img src="{{ asset('img/_fc63166d-6d43-4a34-a186-eb67efa4d00d.jpg') }}" alt="Frigo" height="512px" width="512px">
                            <span class="badge bg-white">{{ refrigerator.name }}</span>
                        </a>
                    </div>
                {% endfor %}
                {% if user.refrigerators|length != 2 %}
                    <a href="{{ path('app_refrigerator_add') }}" class="font-semibold capitalize m-10">
                        <div class="bg-primary rounded-2xl text-white p-10 h-full w-full flex items-center justify-center">
                            + AJOUTER UN FRIGO
                        </div>
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <h2 class="text-center bold text-2xl mt-5">Vos recettes</h2>
        <div class="space h-5"></div>
        {% if user.recipes|length == 0 %}
            <div class="text-center">
                <p>Vous n'avez pas de recettes :'(</p>
            </div>
        {% endif %}
        <div class="w-full" style="background-image: url('{{ asset('img/IMG_2620.png') }}');background-size: cover;">
        <div class="text-center flex justify-center">
                {% set number = 0 %}
            <div class="grid grid-cols-4 gap-4 m-2">
                {% for recipe in user.recipes %}
                    {% set number=number+1 %}
                    <div>
                        <a href="{{ path('app_recipe',{'number':number}) }}" class="text-center font-bold capitalize">
                            <img src="{{ asset('img/_c29e01f8-d811-4281-8513-79172f6bc93f.jpg') }}" alt="Frigo" height="512px" width="512px">
                            <span class="badge bg-white">{{ recipe.name }}</span>
                        </a>
                    </div>
                {% endfor %}
                {% if user.recipes|length < 10 %}
                    <a href="{{ path('app_recipe_add') }}" class="font-semibold capitalize m-10">
                        <div class="bg-primary rounded-2xl text-white p-10 h-full w-full flex items-center justify-center">
                            + AJOUTER UNE RECETTE
                        </div>
                    </a>
                {% else %}
                    <span class="badge badge-error text-white">Vous ne pouvez pas rajouter plus de 10 recettes.</span>
                {% endif %}
            </div>
        </div>
        </div>
    {% endif %}
    {% set number = 1 %}
{% endblock %}
